

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="media/imagenes/logoISSM.jpg" alt="logo" width="80"> Mi empresa</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'login' %}">INICIAR SESION</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'Listaclientes' %}">clientes</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>


<!-- 
<p>pie de pagina</p>

    <footer class="footer text-faded text-center py-5">
        <div class="container" align="center">
        <div class="row">
   
            <p class="m-0">
                <a href="#" class="link">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
   
                <a href="#" class="link">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
   
                <a href="#" class="link">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
            </p>
            <p class="m-0 mbt">
                <a href="#" class="link">Política de privacidad</a> ·
                &nbsp; &nbsp; &nbsp;

                <a href="#" class="link">Aviso legal</a> ·
                &nbsp; &nbsp; &nbsp;

                <a href="#" class="link">Cookies</a>
            </p>
            <p><i class="fa fa-registered" aria-hidden="true"> ISSM 2023 </i></p>
   
        </div>
        </div>
    </footer>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="media/imagenes/logoISSM.jpg" alt="logo" width="80"> Mi empresa</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Retroceder</a>
          <a class="nav-link active" href="#">Cambiar Clave</a>
          <a class="nav-link active" href="{% url 'login' %}">INICIAR SESION</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="{{request.user.username}}" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" href="#">

           
          </ul>
        </li>
        <li><a class="nav-link active" aria-current="page" href="{% url 'contacto' %}">Contacto</a></li>
        <li><a class="nav-link active" href="{% url 'Listado' %}">Clientes</a></li>
       

      </ul>
    </div>
  </div>
</nav>-->




